body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: sans-serif;
  margin: 0;
  background: url('/images/cow-print.jpeg');
  background-position: center;
  background-size: cover;
  text-shadow: -2px 2px 0 #000,
                2px 2px 0 #000,
                2px -2px 0 #000,
               -2px -2px 0 #000;
}

h1 {
  color: #9a46e9;
  font-family: 'Orbitron', sans-serif;
  font-size: 8vmin;
  margin: 3px 0 0 0;
}

h4 {
  color:white;
  font-size: 4vmin;
  margin: 10px 5vmin;
}

button {
  background-color: #9a46e9;
  border: 2px solid #5f0ab0;
  border-radius: 4px;
  color: white;
  font-size: 3vmin;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
  width: 150px;
}

footer {
  position: fixed;
  padding: 10px 10px 0 10px;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: gray;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
}

#game {
  display: flex;
  justify-content: space-between;
}

#fieldGrid {
  background-color: rgb(91, 77, 77);
  width: 800px;
  height: 480px;
  display: grid;
  grid-template-rows: repeat(12, 40px);
  grid-template-columns: repeat(20, 40px);
}

#scoreBoard {
  color: #06d83b;
  margin: auto 5vmin;
  font-weight: bold;
  font-size: 5vmin;
}

#timer {
  color: #06d83b;
  margin: auto 5vmin;
  font-weight: bold;
  font-size: 5vmin;
}

#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#howTo {
  color: #06d83b;
  font-size: 18px;
  margin: 0 0 5px 0;
  text-shadow: -1px 1px 0 #000,
                1px 1px 0 #000,
                1px -1px 0 #000,
               -1px -1px 0 #000;
}

#cow {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 38px;
  max-height: 38px;
}

#grass {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 38px;
  max-height: 38px;
}